#modal{
  position: fixed;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
}
.carousel-image{
  object-fit: contain;
  width: 67vh;
  height: 67vh;
  cursor: pointer;
}  
.carousel-control-next-icon{
  background-color: red;
  color: cyan;
  border-radius: 50%;
  border: solid;
  border-color: red;
}   
.carousel-control-prev-icon{
  background-color: red;
  color: cyan;
  border-radius: 50%;
  border: solid;
  border-color: red;
}
#title{
  margin: 5vh;
  text-align: center;
}
#name{
  font-size: 5rem;
  font-weight: bold;
  color: red;
}
#role{
  font-size: 3rem;
  color: white;
}
body{
  background-color: rgba(20,20,20,1);
}
